body {
  font-family: 'Inter', sans-serif;
}

h1, h2, h3, h4, h5, h6, p {
  font-family: 'Inter', sans-serif;

}


ul.shadhin-navbar li {
    position: relative;
  }
  
  ul.shadhin-navbar li::before {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: #ff5858;
    transform-origin: center;
    transform: translate(-50%, 0) scaleX(0);
    transition: transform 0.3s ease-in-out;
  }
  
  ul.shadhin-navbar li:hover::before {
    transform: translate(-50%, 0) scaleX(1);
  }
  
  ul.shadhin-navbar li a:hover {text-decoration: none}
  
  h1.shadhin-title{
    background-image: linear-gradient(45deg, #f857a6, #ff5858);
    background-clip: text;         /* Standard syntax */
    color: transparent;            /* Ensures text is transparent */
  }

  h1.shadhin-404-title
  {
    background-image: -webkit-linear-gradient(45deg, black, transparent); /* For older Chrome, Safari, Opera */
    background-image: -moz-linear-gradient(45deg, black, transparent);    /* For older Firefox */
    background-image: -ms-linear-gradient(45deg, black, transparent);     /* For Internet Explorer 10+ */
    background-image: -o-linear-gradient(45deg, black, transparent);      /* For older Opera */
    background-image: linear-gradient(45deg, black, transparent);         /* Standard syntax */
    
    -webkit-background-clip: text; /* For WebKit browsers */
    -moz-background-clip: text;    /* For older Firefox */
    background-clip: text;         /* Standard syntax */
    
    color: transparent;            /* Ensures text is transparent */
}


.shadhin-single-glass {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.shadhin-glass-bg{
background: #ff5858;
background: conic-gradient(from 90deg, #f857a6, #ff5858);
}