<!-- wp:template-part {"slug":"header"} /-->

<!-- wp:group {"style":{"elements":{"link":{"color":{"text":"var:preset|color|white"}}},"spacing":{"padding":{"top":"10rem","bottom":"10rem","left":"0px","right":"0px"},"margin":{"top":"0","bottom":"0"}},"color":{"gradient":"linear-gradient(180deg,rgb(236,240,241) 0%,rgb(255,88,88) 100%)"},"background":{"backgroundPosition":"50% 0"}},"textColor":"white","layout":{"type":"constrained"}} -->
<div class="wp-block-group has-white-color has-text-color has-background has-link-color" style="background:linear-gradient(180deg,rgb(236,240,241) 0%,rgb(255,88,88) 100%);margin-top:0;margin-bottom:0;padding-top:10rem;padding-right:0px;padding-bottom:10rem;padding-left:0px"><!-- wp:group {"align":"wide","layout":{"type":"default"}} -->
    <div class="wp-block-group alignwide"><!-- wp:heading {"textAlign":"center","level":1,"className":"shadhin-title","style":{"typography":{"fontStyle":"normal","fontWeight":"800","fontSize":"7rem"}},"fontFamily":"inter"} -->
    <h1 class="wp-block-heading has-text-align-center shadhin-title has-inter-font-family" style="font-size:7rem;font-style:normal;font-weight:800">SHADHIN 2.0</h1>
    <!-- /wp:heading -->
    
    <!-- wp:heading {"textAlign":"center","style":{"elements":{"link":{"color":{"text":"var:preset|color|white"}}}},"textColor":"white","fontFamily":"inter"} -->
    <h2 class="wp-block-heading has-text-align-center has-white-color has-text-color has-link-color has-inter-font-family">Live Free, Dream Big!</h2>
    <!-- /wp:heading --></div>
    <!-- /wp:group --></div>
    <!-- /wp:group -->
    
    <!-- wp:group {"className":"shadhin-glass-bg","style":{"spacing":{"blockGap":"0px","padding":{"top":"5rem","bottom":"5rem","left":"var:preset|spacing|60","right":"var:preset|spacing|60"},"margin":{"top":"0","bottom":"0"}},"background":{"backgroundPosition":"100% 49%"},"color":{"gradient":"linear-gradient(180deg,rgb(255,88,88) 0%,rgb(39,174,96) 100%)"}},"textColor":"black","layout":{"type":"constrained","wideSize":"1200px","contentSize":"800px"}} -->
    <div class="wp-block-group shadhin-glass-bg has-black-color has-text-color has-background" style="background:linear-gradient(180deg,rgb(255,88,88) 0%,rgb(39,174,96) 100%);margin-top:0;margin-bottom:0;padding-top:5rem;padding-right:var(--wp--preset--spacing--60);padding-bottom:5rem;padding-left:var(--wp--preset--spacing--60)"><!-- wp:columns {"align":"wide","style":{"spacing":{"padding":{"top":"var:preset|spacing|50","bottom":"var:preset|spacing|50","right":"var:preset|spacing|60"},"margin":{"top":"-200px"}}}} -->
    <div class="wp-block-columns alignwide" style="margin-top:-200px;padding-top:var(--wp--preset--spacing--50);padding-right:var(--wp--preset--spacing--60);padding-bottom:var(--wp--preset--spacing--50)"><!-- wp:column {"className":"shadhin-single-glass","style":{"elements":{"link":{"color":{"text":"var:preset|color|white"}}},"spacing":{"padding":{"top":"2em","right":"2em","bottom":"2em","left":"2em"}}},"textColor":"white"} -->
    <div class="wp-block-column shadhin-single-glass has-white-color has-text-color has-link-color" style="padding-top:2em;padding-right:2em;padding-bottom:2em;padding-left:2em"><!-- wp:heading {"style":{"typography":{"fontSize":"40px"}},"fontFamily":"inter"} -->
    <h2 class="wp-block-heading has-inter-font-family" id="single" style="font-size:40px"><strong>Break barriers</strong></h2>
    <!-- /wp:heading -->
    
    <!-- wp:paragraph {"style":{"typography":{"lineHeight":"1.5"}},"fontSize":"normal"} -->
    <p class="has-normal-font-size" style="line-height:1.5"><strong>Enrich our growing community.</strong> </p>
    <!-- /wp:paragraph -->
    
    <!-- wp:separator {"opacity":"css","className":"is-style-wide"} -->
    <hr class="wp-block-separator has-css-opacity is-style-wide"/>
    <!-- /wp:separator -->
    
    <!-- wp:list {"fontSize":"normal"} -->
    <ul class="wp-block-list has-normal-font-size"><!-- wp:list-item -->
    <li>General admission and member discounts for one adult</li>
    <!-- /wp:list-item -->
    
    <!-- wp:list-item -->
    <li>One free ticket per special exhibition</li>
    <!-- /wp:list-item -->
    
    <!-- wp:list-item -->
    <li>Two single-use guest passes per year</li>
    <!-- /wp:list-item --></ul>
    <!-- /wp:list -->
    
    <!-- wp:buttons {"align":"full","layout":{"type":"flex","justifyContent":"center","orientation":"horizontal"}} -->
    <div class="wp-block-buttons alignfull"><!-- wp:button {"textColor":"white","width":100,"className":"is-style-fill shadhin-button","style":{"border":{"radius":"10px"},"elements":{"link":{"color":{"text":"var:preset|color|white"}}},"color":{"background":"#ffffff4a"}}} -->
    <div class="wp-block-button has-custom-width wp-block-button__width-100 is-style-fill shadhin-button"><a class="wp-block-button__link has-white-color has-text-color has-background has-link-color wp-element-button" href="#" style="border-radius:10px;background-color:#ffffff4a">Learn More</a></div>
    <!-- /wp:button --></div>
    <!-- /wp:buttons --></div>
    <!-- /wp:column -->
    
    <!-- wp:column {"className":"shadhin-single-glass","style":{"elements":{"link":{"color":{"text":"var:preset|color|white"}}},"spacing":{"padding":{"top":"2em","right":"2em","bottom":"2em","left":"2em"}}},"textColor":"white"} -->
    <div class="wp-block-column shadhin-single-glass has-white-color has-text-color has-link-color" style="padding-top:2em;padding-right:2em;padding-bottom:2em;padding-left:2em"><!-- wp:heading {"style":{"typography":{"fontSize":"40px"}},"fontFamily":"inter"} -->
    <h2 class="wp-block-heading has-inter-font-family" id="family" style="font-size:40px"><strong>Simplify life</strong></h2>
    <!-- /wp:heading -->
    
    <!-- wp:paragraph {"style":{"typography":{"lineHeight":"1.5"}},"fontSize":"normal"} -->
    <p class="has-normal-font-size" style="line-height:1.5"><strong>Support special exhibitions.</strong></p>
    <!-- /wp:paragraph -->
    
    <!-- wp:separator {"opacity":"css","className":"is-style-wide"} -->
    <hr class="wp-block-separator has-css-opacity is-style-wide"/>
    <!-- /wp:separator -->
    
    <!-- wp:list {"fontSize":"normal"} -->
    <ul class="wp-block-list has-normal-font-size"><!-- wp:list-item -->
    <li>General admission and member discounts for two adults</li>
    <!-- /wp:list-item -->
    
    <!-- wp:list-item -->
    <li>Four free tickets per special exhibition</li>
    <!-- /wp:list-item -->
    
    <!-- wp:list-item -->
    <li>Four single-use guest passes per year</li>
    <!-- /wp:list-item --></ul>
    <!-- /wp:list -->
    
    <!-- wp:buttons {"align":"full","layout":{"type":"flex","justifyContent":"center","orientation":"horizontal"}} -->
    <div class="wp-block-buttons alignfull"><!-- wp:button {"textColor":"white","width":100,"className":"is-style-fill shadhin-button","style":{"border":{"radius":"10px"},"elements":{"link":{"color":{"text":"var:preset|color|white"}}},"color":{"background":"#ffffff4a"}}} -->
    <div class="wp-block-button has-custom-width wp-block-button__width-100 is-style-fill shadhin-button"><a class="wp-block-button__link has-white-color has-text-color has-background has-link-color wp-element-button" href="#" style="border-radius:10px;background-color:#ffffff4a">Learn More</a></div>
    <!-- /wp:button --></div>
    <!-- /wp:buttons --></div>
    <!-- /wp:column -->
    
    <!-- wp:column {"className":"shadhin-single-glass","style":{"elements":{"link":{"color":{"text":"var:preset|color|white"}}},"spacing":{"padding":{"top":"2em","right":"2em","bottom":"2em","left":"2em"}}},"textColor":"white"} -->
    <div class="wp-block-column shadhin-single-glass has-white-color has-text-color has-link-color" style="padding-top:2em;padding-right:2em;padding-bottom:2em;padding-left:2em"><!-- wp:heading {"style":{"typography":{"fontSize":"40px"}},"fontFamily":"inter"} -->
    <h2 class="wp-block-heading has-inter-font-family" id="patron" style="font-size:40px"><strong>Build together</strong></h2>
    <!-- /wp:heading -->
    
    <!-- wp:paragraph {"fontSize":"normal"} -->
    <p class="has-normal-font-size"><strong>Take support to the next level.</strong></p>
    <!-- /wp:paragraph -->
    
    <!-- wp:separator {"opacity":"css","className":"is-style-wide"} -->
    <hr class="wp-block-separator has-css-opacity is-style-wide"/>
    <!-- /wp:separator -->
    
    <!-- wp:list {"fontSize":"normal"} -->
    <ul class="wp-block-list has-normal-font-size"><!-- wp:list-item -->
    <li>General admission and member discounts for two adults</li>
    <!-- /wp:list-item -->
    
    <!-- wp:list-item -->
    <li>Five free tickets per special exhibition</li>
    <!-- /wp:list-item -->
    
    <!-- wp:list-item -->
    <li>Six single-use guest passes per year</li>
    <!-- /wp:list-item --></ul>
    <!-- /wp:list -->
    
    <!-- wp:buttons {"align":"full","layout":{"type":"flex","justifyContent":"center","orientation":"horizontal"}} -->
    <div class="wp-block-buttons alignfull"><!-- wp:button {"textColor":"white","width":100,"className":"is-style-fill shadhin-button","style":{"border":{"radius":"10px"},"elements":{"link":{"color":{"text":"var:preset|color|white"}}},"color":{"background":"#ffffff4a"}}} -->
    <div class="wp-block-button has-custom-width wp-block-button__width-100 is-style-fill shadhin-button"><a class="wp-block-button__link has-white-color has-text-color has-background has-link-color wp-element-button" href="#" style="border-radius:10px;background-color:#ffffff4a">Learn More</a></div>
    <!-- /wp:button --></div>
    <!-- /wp:buttons --></div>
    <!-- /wp:column --></div>
    <!-- /wp:columns --></div>
    <!-- /wp:group -->
    
    <!-- wp:group {"layout":{"type":"constrained"}} -->
    <div class="wp-block-group"><!-- wp:group {"align":"wide","style":{"spacing":{"padding":{"top":"120px","bottom":"120px"},"margin":{"top":"0","bottom":"0"}}},"layout":{"type":"default"}} -->
    <div class="wp-block-group alignwide" style="margin-top:0;margin-bottom:0;padding-top:120px;padding-bottom:120px"><!-- wp:columns -->
    <div class="wp-block-columns"><!-- wp:column -->
    <div class="wp-block-column"><!-- wp:image {"id":145,"sizeSlug":"full","linkDestination":"none"} -->
    <figure class="wp-block-image size-full">
        <img src="https://cdn.stocksnap.io/img-thumbs/960w/sunset-sea_6WGDRNQ7UV.jpg" alt="" class="wp-image-145"/>
    </figure>
    <!-- /wp:image --></div>
    <!-- /wp:column -->
    
    <!-- wp:column -->
    <div class="wp-block-column"><!-- wp:heading {"style":{"color":{"text":"#27ae60"},"elements":{"link":{"color":{"text":"#27ae60"}}}}} -->
    <h2 class="wp-block-heading has-text-color has-link-color" style="color:#27ae60">Hello Bangladesh!</h2>
    <!-- /wp:heading -->
    
    <!-- wp:paragraph -->
    <p>Bangladesh is a vibrant South Asian country known for its rich cultural heritage, natural beauty, and warm hospitality. From the serene mangrove forests of the Sundarbans to the bustling streets of Dhaka, it offers a unique blend of tradition and modernity. The country is also home to one of the longest beaches in the world, Cox’s Bazar, and boasts a proud history of resilience, gaining independence in 1971.</p>
    <!-- /wp:paragraph --></div>
    <!-- /wp:column --></div>
    <!-- /wp:columns --></div>
    <!-- /wp:group --></div>
    <!-- /wp:group -->
    
<!-- wp:template-part {"slug":"footer"} /-->