<!-- wp:template-part {"slug":"header"} /-->

<!-- wp:group {"style":{"elements":{"link":{"color":{"text":"var:preset|color|white"}}},"spacing":{"padding":{"top":"10rem","bottom":"10rem","left":"0px","right":"0px"},"margin":{"top":"0","bottom":"0"}},"color":{"background":"#ecf0f1"}},"textColor":"white","layout":{"type":"constrained"}} -->
<div class="wp-block-group has-white-color has-text-color has-background has-link-color" style="background-color:#ecf0f1;margin-top:0;margin-bottom:0;padding-top:10rem;padding-right:0px;padding-bottom:10rem;padding-left:0px"><!-- wp:group {"align":"wide","layout":{"type":"default"}} -->
    <div class="wp-block-group alignwide"><!-- wp:heading {"textAlign":"center","level":1,"className":"shadhin-title","style":{"typography":{"fontStyle":"normal","fontWeight":"800","fontSize":"7rem"}},"fontFamily":"inter"} -->
    <h1 class="wp-block-heading has-text-align-center shadhin-title has-inter-font-family" style="font-size:7rem;font-style:normal;font-weight:800">SHADHIN 2.0</h1>
    <!-- /wp:heading -->
    
    <!-- wp:heading {"textAlign":"center","style":{"color":{"text":"#ff5858"},"elements":{"link":{"color":{"text":"#ff5858"}}}},"fontFamily":"inter"} -->
    <h2 class="wp-block-heading has-text-align-center has-text-color has-link-color has-inter-font-family" style="color:#ff5858">Live Free, Share Happiness!</h2>
    <!-- /wp:heading --></div>
    <!-- /wp:group --></div>
    <!-- /wp:group -->
    
<!-- wp:template-part {"slug":"footer"} /-->